<h2>Buttons</h2>
<!-- defaults -->
<h3>Default</h3>
<div class="row">
	<div class="col3">
		<%= link_to '.btn', '#', class: 'btn' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.primary', '#', class: 'btn primary' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.secondary', '#', class: 'btn secondary' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.alert', '#', class: 'btn alert' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.success', '#', class: 'btn success' %>
	</div>
</div>

<!-- inverse -->
<h3>Inverse</h3>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.invert', '#', class: 'btn invert' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.primary.invert', '#', class: 'btn primary invert' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.secondary.invert', '#', class: 'btn secondary invert' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.alert.invert', '#', class: 'btn alert invert' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.success.invert', '#', class: 'btn success invert' %>
	</div>
</div>

<!-- disabled -->
<h3>Disable</h3>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.disable', '#', class: 'btn disable' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.primary.disable', '#', class: 'btn primary disable' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.secondary.disable', '#', class: 'btn secondary disable' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.alert.disable', '#', class: 'btn alert disable' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.success.disable', '#', class: 'btn success disable' %>
	</div>
</div>

<!-- sizes -->
<h3>Sizing</h3>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.big', '#', class: 'btn big' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.bigger', '#', class: 'btn bigger' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.biggest', '#', class: 'btn biggest' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.huge', '#', class: 'btn huge' %>
	</div>
</div>

<div class="row">
	<div class="col3">
		<%= link_to '.btn.small', '#', class: 'btn small' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.smaller', '#', class: 'btn smaller' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.smallest', '#', class: 'btn smallest' %>
	</div>
</div>
<div class="row">
	<div class="col3">
		<%= link_to '.btn.tiny', '#', class: 'btn tiny' %>
	</div>
</div>






