---
title: Bivy Styleguide
---

<section class="container">
	<h1><%= current_page.data.title %></h1>
	
	<article>
		<%= partial 'grid' %>
	</article>

	<article>
		<%= partial 'colors' %>
	</article>

	<article>
		<%= partial 'typography' %>
	</article>

	<article>
		<%= partial 'buttons' %>
	</article>

	<article>
		<%= partial 'containers' %>
	</article>

</section>

